{% extends 'dashboard/index.html.twig' %}

{% block title %}
    {{ parent() }} # {{ dashboard.id }}
{% endblock %}

{% block breads_crumbs %}
    <a href="{{ path('app_dashboard') }}">{{ parent() }}</a> -> # {{ dashboard.id }}
{% endblock %}
{% block main_container %}
    {{ dump(dashboard) }}
{% endblock %}

